@model TimetableSys_T17.Models.RequestModel
@{
    ViewBag.Title = "Submit Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Temp fix for jQuery - should inherit from _Layout. -->




<h1><b>Minor Bug - Keydown will provide a filtered list. Mousein, Mouseout then Mousein again will provide complete unfiltered list. </b></h1><br /><br />
    <div class="ui-widget">

        Park: <input id="park_input" data-ttablejs-park /><br />
        Building: <input id="building_input" data-ttablejs-building /><br />
        Rooms: <input id="rooms_input" data-ttablejs-roomcode /><br />
        Booty Shaker: <input id="facilities_input" data-ttablejs-facilities /><br />

    </div>

<div id="stage">


</div>


