@model TimetableSys_T17.Models.RequestModel
@{
    ViewBag.Title = "Submit Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Temp fix for jQuery - should inherit from _Layout. -->





    <div class="ui-widget">

        <input id="park_input" data-ttablejs-autocomplete2 />

    </div>

<div id="stage">


</div>


