@model TimetableSys_T17.Models.RequestModel
@{
    ViewBag.Title = "Submit Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/multiselectcss");

<b> Do not remove - READ COMMENTS </b>

<!-- ERROR TRAPPING REQUIRED - If user does park then room, it should then filter building. --> 
<!-- On submit, query to ensure that the booking details are consistant. -->

<!-- Extra filters based on available rooms!!!! -->


<div class="wrapper">
<h1><b>Minor Bug - Keydown will provide a filtered list. Mousein, Mouseout then Mousein again will provide complete unfiltered list. </b></h1><br /><br />
    <section class="row"><div class="ui-widget">Mandatory Requests</div><div class ="ui-widget2">Optional Requests</div></section><br />
    <div class="ui-widget">
        <br /><br />
        <label>Module Code:</label>
            <span class="inner"><input type ="text" id="code_input" data-ttablejs-mcode /></span><br /><br />
        <label>Module Name:</label>
            <span class="inner"><input type="text" id="name_input" data-ttablejs-mname /></span><br /><br />
        <label>Room Type:</label>
            <span class="inner"><input type="text" id="type_input" data-ttablejs-rtype /></span><br /><br /><br />
</div>
    <div class="ui-widget2">
        <br />
        <label>Park:</label> 
            <span class="inner"><input type="text" id="park_input" data-ttablejs-park /></span><br /><br />
        <label>Building: </label>
            <span class="inner"><input id="building_input" type="text" data-ttablejs-building /></span><br /><br />
        <label>Rooms:</label>
            <span class="inner"><input id="rooms_input" type="text" data-ttablejs-roomcode /></span><br /><br />
        <label>Facilities:</label>
        <span class="inner"><select id="facilities" multiple="multiple"></select></span><br /><br />
</div>
    </div>
<br />
<br />





