@model TimetablingSys_T17.Models.LoginModel
           
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> <h1><b>This is gonna be smashin'.</b></h1>
    </div>

</body>
</html>
